@using QuickBank.Core.Application.ViewModels.Payments
@{
    ViewData["Title"] = "Confirm Payment";
}
@model ConfirmPayViewModel


<div class="container-fluid">
    <div class="card shadow col-5 offset-4">
        <h1 class="text-center text-light fw-bold">Payment will be deposited to</h1>
        <h4 class="text-center text-light fw-light">@Model.UserFullName</h4>

        <div class="input-group">
            <a asp-controller="Home" asp-action="BasicHome" class="btn btn-warning">cancel</a>
            <a asp-controller="Pay" asp-action="@Model.PayToConfirm" class="btn btn-primary">confirm</a>
        </div>
    </div>
</div>