@using QuickBank.Core.Application.ViewModels.Payments
@{
    ViewData["Title"] = "Confirm Payment";
}
@model ConfirmPayViewModel


<div class="container-fluid">
    <div class="shadow col-6 offset-4 p-3">
        <h2 class="text-center fw-bold ">Payment will be deposited to</h2>
        <h4 class="text-center fw-light">@Model.EntityToBePaid</h4>

        <div class="mt-3">
            <div class="input-group">
                <a asp-controller="Home" asp-action="BasicHome" class="btn btn-warning">cancel</a>
                <a asp-controller="Pay" asp-action="@Model.PayActionToConfirm" class="btn btn-primary">confirm</a>
            </div>
        </div>
    </div>
</div>