@using QuickBank.Core.Application.ViewModels.Payments
@{
    ViewData["Title"] = "Payment Confirmed";
}

<div class="container-fluid">
    <div class="shadow col-5 offset-4 text-center p-3">
        <i class="bi bi-check-circle text-success fa-4x"></i>
        <h1 class="fw-bold text-success">Payment Confirmed</h1>
        <a asp-controller="Home" asp-action="BasicHome" class="btn btn-success mt-3">return</a>
    </div>
</div>