<a class="btn btn-danger" asp-controller="Pay" asp-action="ExpressPay">Express Payment</a>
<a class="btn btn-success" asp-controller="Pay" asp-action="CreditCardPay">Credit Card Payment</a>
<a class="btn btn-warning" asp-controller="Pay" asp-action="LoanPay">Loan Payment</a>