@using QuickBank.Core.Application.Interfaces.Helpers
@inject IUserHelper userHelper

@{
    ViewData["Title"] = "Admin Home";
    string notificationFromRedirectioned = ViewBag.NotificationFromRedirectioned as string;
    // Current user logged
    var user = userHelper.GetUser();
}


@if (!string.IsNullOrEmpty(notificationFromRedirectioned))
{
    <div class="alert alert-info">@notificationFromRedirectioned</div>
}


<div class="container-fluid">
    
</div>