@using QuickBank.Core.Application.Interfaces.Helpers;
@using QuickBank.Core.Application.Enums;
@{
    var user = userHelper.GetUser();
    string? pricipalUserRol = user?.Roles![^1];
}
@inject IUserHelper userHelper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuickBank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuickBank.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (user != null)
        {
            @switch (pricipalUserRol)
            {
                case nameof(ERoles.BASIC): await Html.RenderPartialAsync("HeaderNavBars/_NavBarBasicHome"); break;
                case nameof(ERoles.ADMIN): await Html.RenderPartialAsync("HeaderNavBars/_NavBarAdminHome"); break;
            }
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - QuickBank
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
