@using QuickBank.Core.Application.ViewModels.Products;

@model CreditCardSaveViewModel;

@{

}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4>Agregar tarjeta de credito</h4>
            </div>
            <div class="card-body">
                @Html.ValidationMessage("ArentAvailableCreditCards", "", new { @class = "text-danger" })

                <form asp-controller="AdministrationUser" asp-action="SetCreditCard">
                    <div class="mb-3">
                        <label asp-for="AmountAvailable" class="form-label">Limit credit card: </label>
                        <input asp-for="AmountAvailable" class="form-control">
                        <span asp-validation-for="AmountAvailable" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="OwnerId"/>
                    <input type="hidden" asp-for="Id" />

                    <a asp-controller="AdministrationUser" asp-route-ownerId="@Model.OwnerId" asp-action="UserProducts" class="btn btn-warning">cancel</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
