@using QuickBank.Core.Application.ViewModels.Products;

@model CreditCardSaveViewModel;

@{

}

<div class="row">
    <div class="col-6 offset-3">
        <div class="rounded-3 bg-primary p-1 mb-4">
            <h1 class="fw-bold text-light m-0 p-0 ms-4">Add Credit Card</h1>
        </div>
        <div class="card border-0">
            <div class="card-body">
                @Html.ValidationMessage("ArentAvailableCreditCards", "", new { @class = "text-danger" })

                <form asp-controller="AdministrationUser" asp-action="SetCreditCard">
                    <div class="mb-3">
                        <label asp-for="AmountAvailable" class="form-label">Limit credit card: </label>
                        <input asp-for="AmountAvailable" class="form-control">
                        <span asp-validation-for="AmountAvailable" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="OwnerId"/>
                    <input type="hidden" asp-for="Id" />

                    
                    <div class="d-flex justify-content-end gap-2">
                        <a asp-controller="AdministrationUser" asp-route-ownerId="@Model.OwnerId" asp-action="UserProducts" class="btn btn-warning">Cancel</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
