@using QuickBank.Core.Application.ViewModels.Products;

@model LoanSaveViewModel;

@{

}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4>Agregar prestamo</h4>
            </div>
            <div class="card-body">
                <form asp-controller="AdministrationUser" asp-action="SetLoan">
                    <div class="mb-3">
                        <label asp-for="Amount" class="form-label">Amount: </label>
                        <input asp-for="Amount" class="form-control">
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="OwnerId"/>
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
