@model List<QuickBank.Core.Application.ViewModels.Facilities.Benefice.BeneficeViewModel>

@{
    ViewData["Title"] = "Beneficiarios";
}

<div class="container">
    <div class="row mb-3 mt-4">
        <div class="d-flex gap-2 p-0">
            <div class="rounded-3 bg-primary p-1 flex-grow-1">
                <h1 class="fw-bold text-light m-0 p-0 ms-4">Beneficiaries</h1>
            </div>
            <a asp-action="AddBenefice" class="btn btn-success text-light d-flex align-items-center"><i class="bi bi-plus"></i>Add Beneficiary</a>
        </div>
    </div>

    <div class="row">
        @if (Model != null && Model.Count > 0)
        {
            <div class="col p-0">
                <div class="card border-0">
                    <div class="card-body">
                        <table class="table shadow mb-2 rounded-3" id="beneficiarieTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nombre Completo</th>
                                    <th>Número de Cuenta</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var beneficiary in Model)
                                {
                                    <tr>
                                        <td>@beneficiary.BenefitedFullName</td>
                                        <td>@beneficiary.BenefitedSavingAccount?.AccountNumber</td>
                                        <td>
                                            <form method="post" asp-action="ConfirmDelete" asp-route-id="@beneficiary.Id">
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col p-0">
                <div class="alert alert-warning" role="alert">
                    No tienes beneficiarios
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#beneficiarieTable').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Show 0 a 0 de 0 entries",
                    "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Show _MENU_ Entries",
                    "loadingRecords": "charging...",
                    "processing": "procesing...",
                    "search": "Search:",
                    "zeroRecords": "Without Resutls",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "previous"
                    }
                }
            });
            console.log("Vista cargada y DataTable inicializado.");
        });
    </script>
}